{{#display_errors}}

  <div id="recipecan_form_errors">
    <h3>Opps!</h3>
    
    {{#errors}}

      <div>
        <span class="recipecan_field">
          {{field}}
        </span>

        {{#errors}}
          {{.}} 
        {{/errors}}
      </div>

    {{/errors}}
  </div>

{{/display_errors}}

