<h2>Setup RecipeCan For Wordpress</h2>

<p>
  Before posting recipes we will need to create a RecipeCan
  account.  This account will be used to store all of your recipes and photos.
</p>

<div>

  <div>
    <a href="?page=recipecan_create_account"><strong>I do NOT have a RecipeCan Account</strong></a>
    <p>
      No problem, it takes about 20 seconds to setup and is 100% free.  To get
      started just <a href="?page=recipecan_create_account">click here</a>.
    </p>
  </div>

  <div>
    <a href="?page=recipecan_login"><strong>I have a RecipeCan Account</strong></a>
    <p>
      Great, if you would like to use your RecipeCan account just
      <a href="?page=recipecan_login">click here</a>.
    </p>
  </div>

</div>
