
<h2>Your Account</h2>

{{#user}}
  <div>
    Name: {{first_name}}
  </div>

  {{#outside_blog}}
    <div>
      Blog: {{name}} ({{url}})
    </div>
  {{/outside_blog}}

{{/user}}

<div>
  <a href="?page=recipecan_user_logout">Logout</a> of your account.
</div>
