<h2>Create Account</h2>

<div>
    Before you can add recipes you'll need to create a RecipeCan account.
</div>

<div>
    To do so, please visit the
    <a href="admin.php?page=recipecan_recipes">Recipes Section</a>
    of your Wordpress Admin.
</div>
