@media all {
  body.recipecan_print_recipe_body_wrapper * {
    background: none; }
  body.recipecan_print_recipe_body_wrapper #header, body.recipecan_print_recipe_body_wrapper #comments, body.recipecan_print_recipe_body_wrapper #sidebar, body.recipecan_print_recipe_body_wrapper #menu, body.recipecan_print_recipe_body_wrapper #wp_sidebar, body.recipecan_print_recipe_body_wrapper #respond, body.recipecan_print_recipe_body_wrapper #footer,
  body.recipecan_print_recipe_body_wrapper .wp_entry_closing, body.recipecan_print_recipe_body_wrapper .wp_entry_byline,
  body.recipecan_print_recipe_body_wrapper img {
    display: none; }
  body.recipecan_print_recipe_body_wrapper .recipecan_print_hide {
    display: none; }
  body.recipecan_print_recipe_body_wrapper #recipecan_recipe_page .recipecan_image,
  body.recipecan_print_recipe_body_wrapper .recipecan_recipe_insert .recipecan_image {
    display: none; }
  body.recipecan_print_recipe_body_wrapper #recipecan_recipe_page .recipecan_ingredients, body.recipecan_print_recipe_body_wrapper #recipecan_recipe_page .recipecan_directions,
  body.recipecan_print_recipe_body_wrapper .recipecan_recipe_insert .recipecan_ingredients,
  body.recipecan_print_recipe_body_wrapper .recipecan_recipe_insert .recipecan_directions {
    float: none;
    width: auto;
    padding: 5px 0 5px 0;
    border: 0; }
  body.recipecan_print_recipe_body_wrapper #recipecan_recipe_page .recipecan_options,
  body.recipecan_print_recipe_body_wrapper .recipecan_recipe_insert .recipecan_options {
    display: none; }

  body.recipecan_print_ingredients_body_wrapper * {
    background: none; }
  body.recipecan_print_ingredients_body_wrapper #header, body.recipecan_print_ingredients_body_wrapper #comments, body.recipecan_print_ingredients_body_wrapper #sidebar, body.recipecan_print_ingredients_body_wrapper #menu, body.recipecan_print_ingredients_body_wrapper #wp_sidebar, body.recipecan_print_ingredients_body_wrapper #respond, body.recipecan_print_ingredients_body_wrapper #footer, body.recipecan_print_ingredients_body_wrapper .wp_entry_closing, body.recipecan_print_ingredients_body_wrapper .wp_entry_byline, body.recipecan_print_ingredients_body_wrapper img {
    display: none; }
  body.recipecan_print_ingredients_body_wrapper .recipecan_print_hide {
    display: none; }
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_page .recipecan_image, body.recipecan_print_ingredients_body_wrapper .recipecan_recipe_insert .recipecan_image {
    display: none; }
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_page .recipecan_ingredients, body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_page .recipecan_directions, body.recipecan_print_ingredients_body_wrapper .recipecan_recipe_insert .recipecan_ingredients, body.recipecan_print_ingredients_body_wrapper .recipecan_recipe_insert .recipecan_directions {
    float: none;
    width: auto;
    padding: 5px 0 5px 0;
    border: 0; }
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_page .recipecan_options, body.recipecan_print_ingredients_body_wrapper .recipecan_recipe_insert .recipecan_options {
    display: none; }
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_page .recipecan_title, body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_page .recipecan_tags, body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_page .recipecan_info,
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_page .recipecan_directions,
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_insert .recipecan_title,
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_insert .recipecan_tags,
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_insert .recipecan_info,
  body.recipecan_print_ingredients_body_wrapper #recipecan_recipe_insert .recipecan_directions {
    display: none; } }
