#recipecan_create_account input#login {
  margin: 1px;
  padding: 3px; }

#recipecan_table th {
  text-align: left;
  padding: 0 5px 2px 0;
  font-weight: bold; }
#recipecan_table td {
  padding: 0 5px 2px 0; }

#recipecan_recipes_welcome .recipecan_image {
  float: left;
  width: 250px; }
#recipecan_recipes_welcome .recipecan_text {
  float: left;
  width: 250px; }

br.recipecan_clear {
  clear: both; }

.recipecan_hidden {
  display: none; }

#recipecan_loading {
  font-weight: bold; }

#recipecan_form_errors {
  padding: 0 0 10px 0; }
  #recipecan_form_errors .recipecan_field {
    font-weight: bold;
    color: red; }

#recipecan_edit_recipe .recipecan_form {
  float: left;
  width: 450px;
  padding-right: 20px; }
#recipecan_edit_recipe .recipecan_photo {
  float: left;
  width: 400px; }

#recipecan_loading .recipecan_spinner {
  width: 100px; }
#recipecan_loading .recipecan_text {
  float: left; }

#recipecan_insert_existing_recipe_box table td {
  padding: 0 5px 2px 0; }

#recipecan_recipes_all,
#recipecan_recipes_recent,
#recipecan_recipes_search,
#recipecan_recipes_popular {
  padding: 0 0 10px 0;
  width: 100%; }
  #recipecan_recipes_all h2,
  #recipecan_recipes_recent h2,
  #recipecan_recipes_search h2,
  #recipecan_recipes_popular h2 {
    padding: 10px 0 10px 0;
    line-height: 1.5em;
    margin: 0; }
  #recipecan_recipes_all div.recipecan_recipe_preview:nth-of-type(4n+5),
  #recipecan_recipes_recent div.recipecan_recipe_preview:nth-of-type(4n+5),
  #recipecan_recipes_search div.recipecan_recipe_preview:nth-of-type(4n+5),
  #recipecan_recipes_popular div.recipecan_recipe_preview:nth-of-type(4n+5) {
    clear: both; }
  #recipecan_recipes_all .recipecan_recipe_preview,
  #recipecan_recipes_recent .recipecan_recipe_preview,
  #recipecan_recipes_search .recipecan_recipe_preview,
  #recipecan_recipes_popular .recipecan_recipe_preview {
    padding: 0 0 15px 0;
    margin: 0 2% 0 2%;
    text-align: center;
    float: left;
    width: 20%; }
    #recipecan_recipes_all .recipecan_recipe_preview .recipecan_image img,
    #recipecan_recipes_recent .recipecan_recipe_preview .recipecan_image img,
    #recipecan_recipes_search .recipecan_recipe_preview .recipecan_image img,
    #recipecan_recipes_popular .recipecan_recipe_preview .recipecan_image img {
      width: 100%; }
    #recipecan_recipes_all .recipecan_recipe_preview .recipecan_title h3,
    #recipecan_recipes_recent .recipecan_recipe_preview .recipecan_title h3,
    #recipecan_recipes_search .recipecan_recipe_preview .recipecan_title h3,
    #recipecan_recipes_popular .recipecan_recipe_preview .recipecan_title h3 {
      font-size: 1.1em;
      line-height: 1.2em;
      margin: 0;
      padding: 0 0 5px 0; }
    #recipecan_recipes_all .recipecan_recipe_preview .recipecan_title a,
    #recipecan_recipes_recent .recipecan_recipe_preview .recipecan_title a,
    #recipecan_recipes_search .recipecan_recipe_preview .recipecan_title a,
    #recipecan_recipes_popular .recipecan_recipe_preview .recipecan_title a {
      text-decoration: none; }

#recipecan_all {
  padding: 0 0 10px 0; }
  #recipecan_all h2 {
    padding: 10px 0 10px 0;
    line-height: 1.5em;
    margin: 0; }

#recipecan_courses {
  padding: 0 0 10px 0; }
  #recipecan_courses h2 {
    padding: 10px 0 10px 0;
    line-height: 1.5em;
    margin: 0; }
  #recipecan_courses .recipecan_course {
    float: left;
    width: 170px;
    padding: 0 20px 5px 0; }

#recipecan_search {
  padding: 0 0 10px 0; }
  #recipecan_search h2 {
    padding: 10px 0 10px 0;
    line-height: 1.5em;
    margin: 0; }

.recipecan_recipe_show_full {
  padding: 0 0 20px 0; }
  .recipecan_recipe_show_full .recipecan_title {
    text-align: center;
    padding: 0 0 2px 0; }
    .recipecan_recipe_show_full .recipecan_title h2 {
      margin: 0;
      padding: 0; }
  .recipecan_recipe_show_full .recipecan_image {
    text-align: center;
    padding: 5px; }
  .recipecan_recipe_show_full .recipecan_tags {
    text-align: center;
    padding-bottom: 2px; }
  .recipecan_recipe_show_full .recipecan_info {
    text-align: center;
    padding-bottom: 2px; }
  .recipecan_recipe_show_full .recipecan_directions, .recipecan_recipe_show_full .recipecan_ingredients {
    margin: 8px 0 0 0; }
  .recipecan_recipe_show_full .recipecan_ingredients {
    float: left;
    width: 45%;
    padding: 0 0 0 10px;
    border-right: 1px solid #c0c0c0; }
  .recipecan_recipe_show_full .recipecan_directions {
    float: left;
    width: 45%;
    padding: 0 0 0 20px; }
  .recipecan_recipe_show_full ul {
    padding: 0;
    margin: 0; }
  .recipecan_recipe_show_full li {
    list-style-type: none;
    padding-bottom: 10px; }
  .recipecan_recipe_show_full .recipecan_options {
    padding: 10px 0 0 0;
    text-align: center;
    color: #c0c0c0;
    font-size: 0.85em; }
