// admin

#recipecan_create_account {
    
    input#login {
        margin: 1px;
        padding: 3px;
    }

}

#recipecan_table {
    th {
        text-align: left;
        padding: 0 5px 2px 0;
        font-weight: bold;
    }
    td {
        padding: 0 5px 2px 0;
    }
}

#recipecan_recipes_welcome {

    .recipecan_image {
        float: left;
        width: 250px;
    }

    .recipecan_text {
        float: left;
        width: 250px;
    }

}

br.recipecan_clear {
    clear: both;
}

.recipecan_hidden {
    display: none;
}

#recipecan_loading {
    font-weight: bold;
}

#recipecan_form_errors {

    padding: 0 0 10px 0;

    .recipecan_field {
        font-weight: bold;
        color: red;
    }
}

#recipecan_edit_recipe {

    .recipecan_form {
        float: left;
        width: 450px;
        padding-right: 20px;
    }

    .recipecan_photo {
        float: left;
        width: 400px;
    }

}

#recipecan_loading {

    .recipecan_spinner {
        width: 100px;
    }

    .recipecan_text {
        float: left;
    }


}

// editor

#recipecan_insert_existing_recipe_box {
    table {
        td {
            padding: 0 5px 2px 0;
        }
    }
}

// main

// listing recipes

@mixin list_recipes_section() {
    padding: 0 0 10px 0;
    
    h2 {
        padding: 10px 0 10px 0;
        line-height: 1.5em;
        margin: 0;
    }
}

#recipecan_recipes_all,
#recipecan_recipes_recent,
#recipecan_recipes_search,
#recipecan_recipes_popular {

    @include list_recipes_section();
    width: 100%;

    div.recipecan_recipe_preview:nth-of-type(4n+5) {
        clear: both;
    }

    .recipecan_recipe_preview {

        //background-color: red;

        padding: 0 0 15px 0;
        margin: 0 2% 0 2%;

        text-align: center;

        float: left;
        width: 20%;

        .recipecan_image {
            img {
                width: 100%;
            }
        }

        .recipecan_title {
            h3 {
                font-size: 1.1em;
                line-height: 1.2em;
                margin: 0;
                padding: 0 0 5px 0;
            }

            a {
                text-decoration: none;
            }
        }

    }

}

#recipecan_all {
    @include list_recipes_section();
}

#recipecan_courses {
    @include list_recipes_section();

    .recipecan_course {
        float: left;
        width: 170px;
        padding: 0 20px 5px 0;
    }

}

#recipecan_search {
    @include list_recipes_section();

    .recipecan_form {
        .recipecan_search_box {
        
        }

        .recipecan_submit {

        }
    }

}

// display recipe

.recipecan_recipe_show_full {

    padding: 0 0 20px 0;

    .recipecan_title {
        text-align: center;
        padding: 0 0 2px 0;
        h2 {
            margin: 0;
            padding: 0;
        }
    }

    .recipecan_image {
        text-align: center;
        padding: 5px;
    }

    .recipecan_tags {
        text-align: center;
        padding-bottom: 2px;
    }

    .recipecan_info {
        text-align: center;
        padding-bottom: 2px;
    }

    .recipecan_directions, .recipecan_ingredients {
        margin: 8px 0 0 0;

        ul {
            padding: 0;
            margin: 0;
        }
    }

    .recipecan_ingredients {
        float: left;
        width: 45%;
        padding: 0 0 0 10px;
        border-right: 1px solid #c0c0c0;
    }

    .recipecan_directions {
        float: left;
        width: 45%;
        padding: 0 0 0 20px;
    }

    ul {
	padding: 0;
        margin: 0;

	li {
            list-style-type: none;
            padding-bottom: 10px;
    	}

    }



    .recipecan_options {

        padding: 10px 0 0 0;
        text-align: center;
        color: #c0c0c0;
        font-size: 0.85em;

    }

}
