<div class="recipecan_recipe_preview">

  <div class="recipecan_image">
    <a href="{{link}}"><img src="{{image}}"
      alt="{{safe_name}} Recipe"
      border="0" /></a>
  </div>

  <div class="recipecan_title">
    <h3>
      <a href="{{link}}">{{name}}</a>
    </h3>
  </div>

</div>
