{{#recipe}}

  <div itemscope itemtype="http://schema.org/Recipe" class="recipecan_recipe_show_full recipecan_recipe_{{data.id}}">

    <!-- RecipeCanId:{{data.recipecan_id}} -->

    <div class="recipecan_title">
      <h2 itemprop="name">{{data.name}}</h2>
    </div>

    {{#has_image}}
      <div class="recipecan_image">
        <img src="{{image}}"
          alt="{{safe_name}} Recipe"
          itemprop="image" 
          />
       </div>
    {{/has_image}}

    <div class="recipecan_tags">
      <span itemprop="recipeCategory">{{data.tag_list}}</span>
    </div>

    <div class="recipecan_info">
      {{#data.make_time}}
        Cooks in <time itemprop="totalTime">{{data.make_time}}</time>
      {{/data.make_time}}

      &nbsp;&nbsp;

      {{#data.servings}}
        Servers <span itemprop="recipeYield">{{data.servings}}</span>
      {{/data.servings}}
    </div>

    <div class="recipecan_split_container">
      <div class="recipecan_ingredients">
        <strong>Ingredients</strong>
        <ul>
          {{#ingredients_to_a}}
            <li itemprop="ingredients">
              {{.}}
            </li>
          {{/ingredients_to_a}}
        </ul>
      </div>

      <div class="recipecan_directions">
        <strong>Directions</strong>
        <ul itemprop="recipeInstructions">
          {{#directions_to_a}}
            <li>{{.}}</li>
          {{/directions_to_a}}
        </ul>
      </div>

      <br class="recipecan_clear" />
    </div>


    <div class="recipecan_options">
        
      <a href="#" 
        data-recipe-id="{{data.id}}" 
        class="recipecan_print_button">Print Recipe</a> | 
      <a href="#" 
        data-recipe-id="{{data.id}}" 
        class="recipecan_print_ingredients_button">Print Ingredients Only</a>

    </div>


  </div>
{{/recipe}}

